/*header style*/
header {
    text-align: center; 
    padding: 20px;
    background-color: #d5e09c;
 }

/*navigation menu style*/
nav {
    background-color: khaki;
    text-align: center;
    word-spacing: 30px;
    Padding: 10px;
 }

 body {
    background-color: antiquewhite;
    text-align: center;


 }
 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .button {
    width: 20%;
  }

/*creating the two-column layout
*{
    box-sizing: border-box;
 }
 .row {
    display: flex;
    flex-wrap: wrap;
 }
 .post-text-box {
    flex: 70%;
    padding: 20px;
 }
 .profile {
    flex: 70%;
    padding: 20px;
 }
 /*profile image and heading style
 .profile img {
    width: 120px;
    display: block;
    margin-left: 0;
    margin-right: 0;
 }
 */