
@font-face {
    font-family: "Shantell";
    src: url("fonts/ShantellCustom.ttf");
}

/*header style*/
header {
    text-align: center; 
    padding: 20px;
 }

 header img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
 }

 header p {
    text-align: left;
    padding-top: 2.5vh;
    font-size: 2.5vh;
 }

@media (min-width: 900px) {
    header p {
        text-align: center;
    }
}

@media (min-width: 1200px) {
    header img {
        width: 50%;
    }

    header p {
        padding-top: 0;
        margin-left: 20%;
        margin-right: 20%;
    }
}

/*navigation menu style*/
nav {
    background-color: khaki;
    text-align: center;
    word-spacing: 30px;
    padding: 10px;
 }

 body {
    background-color: rgb(238, 216, 187);
    text-align: center;
 }

 p {
    font-family: "Shantell";
 }

 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  footer .button {
    width: 15%;
  }
  
  /* from Manoz on codepen.io */
  @keyframes loadingC {
    0 {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
/* loading caterpillar
  .line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
  }

  .load-3 .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
  }
  .load-3 .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
  }
  .load-3 .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
  }
/*creating the two-column layout
*{
    box-sizing: border-box;
 }
 .row {
    display: flex;
    flex-wrap: wrap;
 }
 .post-text-box {
    flex: 70%;
    padding: 20px;
 }
 .profile {
    flex: 70%;
    padding: 20px;
 }
 /*profile image and heading style
 .profile img {
    width: 120px;
    display: block;
    margin-left: 0;
    margin-right: 0;
 }
 */
 